@import '../partials/typography';

.login-form .error-container {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.error-container p {
    color: hsl(0, 100%, 31%);
    font-size: $x-small;
    font-style: italic;
}