@import "../modules/padding";
@import "../modules/colors";

.map {
    background-color: $dark4;
    padding: $main-div;
}

.map-heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}