@import '../modules/colors.scss';
@import '../modules/padding';
@import '../partials/box-shadow';

.vaccine-card-container {
    background-color: $accent6;
    padding: $main-div;
}

.vaccine-card-container h2 {
    border-bottom: $heading-bottom;
    padding-bottom: $heading-pb;
    margin-bottom: $heading-mb;
    padding-left: $heading-pl;
}

.sources {
    padding: 100px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
}

.sources h4 {
    margin-bottom: 5px;
}