@import "../modules/colors";
@import '../partials/typography';
@import '../partials/box-shadow';

input {
    font-family: $heading;
    width: 100%;
}

input[type=text], input[type=password] {
    border-color: $dark4;
    border-style: solid;
    border-width: 1px;
    outline: none;
    padding: 8px;
    font-size: $small;
}

input[type=submit]{
    background-color: $accent1;
    box-shadow: $button-shadow;
    padding: 8px;
    font-size: $small;
}

input[type=submit]:hover{
    background-color: $accent3;
    cursor: pointer;
}

input[type=submit]:active{
    outline: none;
}