@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora|Merriweather&display=swap');

$body: 'Merriweather', serif;
$heading: 'Lora', serif;

$xx-small: 5px;
$x-small: 10px;
$small: 15px;
$medium: 25px;
$large: 35px;
$x-large: 45px;
$xx-large: 55px;
$xxx-large: 65px;