@import "./modules/colors";
@import "./partials/typography";
@import './partials/buttons';
@import './partials/input';


h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
}

p, ul, li, a {
    font-family: $body;
}

h1 {
    font-size: $xx-large;
}

h2 {
    font-size: $large;
}

h3 {
    font-size: $medium;
}

p {
    font-size: $small;
}

a {
    text-decoration: none;
    color: $dark1;
}

a:hover {
    color: $dark3;
}

a:active {
    color: $accent1;
}