$light1: hsla(27, 25%, 83%, 1);
$light2: hsla(27, 25%, 83%, 0.918);
$light3: hsla(27, 25%, 83%, 0.801);
$light4: hsla(27, 25%, 83%, 0.7);
$light5: hsla(27, 25%, 83%, 0.6);
$light6: hsla(27, 25%, 83%, 0.5);
$light7: hsla(27, 25%, 83%, 0.4);
$light8: hsla(27, 25%, 83%, 0.3);
$light8: hsla(27, 25%, 83%, 0.2);


$dark1: hsla(228, 11%, 9%, 1);
$dark2: hsla(228, 11%, 9%, .9);
$dark3: hsla(228, 11%, 9%, .8);
$dark4: hsla(228, 11%, 9%, .7);
$dark5: hsla(228, 11%, 9%, .6);
$dark6: hsla(228, 11%, 9%, .5);
$dark7: hsla(228, 11%, 9%, .4);
$dark8: hsla(228, 11%, 9%, .3);
$dark8: hsla(228, 11%, 9%, .2);


$accent1: hsla(217, 13%, 57%, 1);
$accent2: hsla(217, 13%, 57%, .9);
$accent3: hsla(217, 13%, 57%, .8);
$accent4: hsla(217, 13%, 57%, .7);
$accent5: hsla(217, 13%, 57%, .6);
$accent6: hsla(217, 13%, 57%, .5);
$accent7: hsla(217, 13%, 57%, .4);
$accent8: hsla(217, 13%, 57%, .3);
$accent8: hsla(217, 13%, 57%, .2);